h2{
    color : aqua;
}


#logtag{
    color : red;
}

.day6and7{
    color: green;
}

a.day6and7{
    color: brown;
}

body{
     background-color: aquamarine;
    /* background-image: url("images/OIP.webp");
    background-repeat: no-repeat;
    background-position: left ;
    background-attachment: fixed; */ 

    /* shorthand */
    /* background: url("images/OIP.webp") no-repeat left fixed aquamarine; */
}

h2,del,ins,.day6and7{
    color: rebeccapurple;
    opacity: 70%;
}

img{

    /* shorthand */
    border: 15px solid black;
    border-radius: 50%;
}