
h1{
    height: 100px;
    border: 5px solid black;
    text-align: center;
    background-color: violet;
    width:250px;
    /* pixels */
    padding: 10px;
}

p{
    color: black;
    /* background-color: aqua;*/
    /* text-align: justify; 
    /* text-decoration-line: overline;
    text-decoration-color: red ;
    text-decoration-thickness: 5px; */
    /* font-family: 'Courier New', Courier, monospace;
    font-style: oblique;
    font-weight: bolder;
    font-variant: small-caps;
    font-size:  large; 

    /* shorthand */
    font: italic 20px bold monospace;
   
}


a{
    padding-left: 20px;
    margin-left: 320px;
    text-decoration: none;
    
}

table, td{
    border: 2px solid black;
    border-collapse: collapse;
}

td{
    width: 300px;
    height: 60px;
    font-weight: bolder;
    text-align: center;
    vertical-align: bottom;
}

/* tr:hover{
    background-color: blueviolet;
    color: aliceblue;
} */

/* tr:nth-child(even){
    background-color: blueviolet;
} */

/* button{
    margin: 20px;
    padding:5px;
    background-color: chocolate;
}

button:hover{
    background-color: darkblue;
    color: antiquewhite;
} */
/* 
.spanstyle{
    background-color: aqua;
}*/


.lorem{
    background-color: red;
    border: 2px solid black;
    position:sticky;
    top:0px;
    width:100px;
    height: 100px;
    overflow: auto;
    z-index: -1;
    
}  

.box1{
    width:100px;
    height: 100px;
    background-color: red;
}

.box2{
    
    width:100px;
    height: 100px;
    background-color: blue;
}

.box3{
   
    width:100px;
    height: 100px;
    background-color: green;
}

.container{
    display: flex;
    justify-content: right;
}